---
# User modified css
---

/* Main Page */
.padding-container {
  width: 100% !important;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 750px;
}
.container {
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;

  .banner-link {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
  }
  .coding-link {
    padding-top: 260px;
    padding-right: 10px;
    color: white;
  }
  .misc-link {
    padding-top: 260px;
    padding-left: 10px;
  }
  .blog-link {
    padding-top: 8px;
    padding-right: 10px;
  }
  .about-link {
    padding-top: 8px;
    padding-left: 10px;
  }
  .code {
    background: #F64747;
  }
  .etc {
    background: #19B5FE;
  }
  .blog {
    background: #65C6BB;
  }
  .about {
    background: #DADFE1;
  }
  .coding-link {
    text-align: right;
    height: 300px;
    background: url("/assets/coding-tom.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .misc-link {
    height: 300px;
    background: url("/assets/etc-tom.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .blog-link {
    text-align: right;
    height: 300px;
    background: url("/assets/blog-tom.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .about-link {
    height: 300px;
    background: url("/assets/aboutme-tom.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
  }
  .col-md-6 {
    padding: 0px;
  }
}
.nav-links {
  li {
    display: inline;
    padding: 0 10px;
    width: 100px;
    a {
      font-size: 1.2em;
    }
  }
  list-style-type: none;
  padding: 0 20px;
}
/* Portfolio */
.evi-box {
  background: url("/assets/evi-designs-main.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.tasty-box {
  background: url("/assets/tasty-tours-main.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ifamii-box {
  background: url("/assets/ifamii-main.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.link-box {
  height: 300px;
}
.portfolio-box {
  width: 100%;
  float: left;
  display: block;
}
.personal-box {
  margin-top: 10%; 
  text-align: center;
  .future-work {
    font-size: 2em;
  }
}
.sect-title {
  font-weight: bold;
  font-size: 1.4em;
}
.overview {
  min-height: 400px;
  padding-bottom: 50px;
}
.desc-box {
  position: absolute;
  bottom: 2%; 
  right: 2%;
  background-color: black;
  opacity: 0.9;
  color: white;
  text-align: right;
  width: 96%;
  .box-title {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 2px;
  }
  .box-desc {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.about-row {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
#main-logo {
  width: 100px;
}